@font-face {
  font-family: "norse-bold-font";
  src:  url("/fonts/norse_bold_font-webfont.woff2")format("woff2"),
        url("/fonts/norse_bold_font-webfont.woff")format("woff"),  
        url("/fonts/norse-bold-font.otf")format("opentype");
        
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container { /*flex container to be able to make sidebar flex */
    display: flex;
    min-height: 100vh;
}

.header-text {
    font-family: Arial, Helvetica, sans-serif;
}

.overlay {
    position: absolute;
    top: 130px;
    left: 0;
    width: 284px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5)
}

.odin-logo h1 {
    position: absolute;
    font-family: "norse-bold-font";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
}

.odin-sidebar { 
    position: relative;
    display: flex;
    flex-basis: 35%;
    flex-direction: column;
    background-image: url('images/JPEG\ image.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

.image-credit {
    position: absolute;
    font-family: sans-serif;
    color: white;
    z-index: 1;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

.content-container {
    display: flex;
    flex-basis: 65%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}
.form-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.input-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 3rem;
}


.input-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%;
    gap: 0.5rem;
}
input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px solid red;
    background-color: #ffe6e6;
}


input[type="password"]:valid {
    border: 2px solid green;
}

input[type="password"]:focus {
    border: 2px solid blue;
    outline: none;
}


form { 
    width: 100%; /* take up 100% of ur parent container */
    font-family: Arial, Helvetica, sans-serif;
}

.form-content h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.form-content {
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: -3rem;
    margin-right: -3rem;
}