@font-face {
  font-family: "norse-bold-font";
  src:  url("/fonts/norse_bold_font-webfont.woff2")format("woff2"),
        url("/fonts/norse_bold_font-webfont.woff")format("woff"),  
        url("/fonts/norse-bold-font.otf")format("opentype");
        
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    min-height: 100vh;
}

.header-text {
    font-family: Arial, Helvetica, sans-serif;
}

.header-secondPara {
    margin-top: 3%;
}

.overlay {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5)
}

.odin-logo h1 {
    position: absolute;
    font-family: "norse-bold-font";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-size: 4rem;
    color: white;
}

.odin-sidebar { 
    position: relative;
    display: flex;
    flex-basis: 35%;
    flex-direction: column;
    background-image: url('images/Other\ Image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

.image-credit {
    position: absolute;
    font-family: sans-serif;
    color: white;
    z-index: 1;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

.image-credit a {
    color: white;
    text-decoration: underline;
}
.image-credit a:hover {
    color: #f0f0f0;
}

.content-container {
    background-color: #f8f9fa;
    display: flex;
    flex-basis: 65%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}
.form-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.75rem;
    color: #1f1f1f;
    background-color: #F9FAFB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: -3rem;
    margin-right: -3rem;
}

input {
    border: 1px solid #d1d5db;
    outline: none;
    border-radius: 3px;
    font-size: 1rem;
    transition: border 90ms ease;
    border: 1px solid #d1d5db;
    outline: none;
    border-radius: 3px;
    padding: 0.50rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: border 90ms ease;
}

input:focus {
    border: 1px solid #3b82f6;
    outline: none;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);

}

.input-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 3rem;
}


.input-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%;
    gap: 0.25rem;
}

label {
    text-transform: uppercase;
    font-size: 0.65rem;
}
input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px solid red;
    background-color: #ffe6e6;
}


form { 
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.form-content h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.form-actions {
    margin-top: 10px;
}

.form-actions button {
    background-color: #596d48;
    color: #F9FAFB;
    border-radius: 6px;
    padding: 1em 3em;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
}

.form-actions button:hover {
    background-color: #3a4d1a;
}

.form-actions button:active {
    -webkit-box-shadow: inset 0px 0px 5px #3a4d1a;
    -moz-box-shadow: inset 0px 0px 5px #3a4d1a;
    box-shadow: 0px 0px 5px #3a4d1a;
}

.login-redirect {
    margin-top: 5px;
}

.login-redirect a {
    color:#596d48;
    text-decoration: none;
}

.login-redirect a:hover {
    color: #2D3A15;
    text-decoration: none;
}

.login-redirect a:active {
    color: #1b2606;
}

input::placeholder {
    font-size: 0.75rem;
}

.form-content h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0.5rem;
}

